<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/dashboard"></a>
        </div>
        <ul class="nav navbar-nav">
          <li>
             <a routerLink="/home">Home</a>
          </li>
           <li>
             <a routerLink="/about">About</a>
          </li>
           <li>
              <a routerLink="/a2/about">App2 About</a> 
          </li>
          <li>
            <a routerLink="/privateSection" *ngIf="authService.authenticated" routerLinkActive="active">Private Section</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a *ngIf="!authService.authenticated" (click)="authService.login()">Log In</a>
          </li>
          <li>
            <a (click)=authService.logout() *ngIf="authService.authenticated">Log Out</a>
          </li>
        </ul>
    </nav>
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
